<table class="table table-striped">
  <thead>
    <tr>
      <th style="width:5%">Nº</th>
      <th style="width:10%">Roupas</th>
      <th style="width:10%">Prazo</th>
      <th style="width:5%">Status</th>
      <th style="width:5%">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pedido of pedidos" [ngSwitch]="pedido?.status">
      <td>{{pedido.id}}</td>
      <td>
        <ul>
          <li *ngFor="let item of pedido.roupas">
            {{ getNomeRoupa(item.id) }}, {{ item.quantidade }}
          </li>
        </ul>
      </td>
      <td><ul>
        <li *ngFor="let item of pedido.roupas">
          {{ getPrazoRoupa(item.id)  }}
        </li>
      </ul></td>
      <td [ngStyle]="getColor(pedido)">{{pedido.status}}</td>

      <td *ngSwitchCase="status.EM_ABERTO" >
        <button 
          class="btn btn-primary btn-sm mb-1 ml-1"
          (click)="confirmarRecolhimento(pedido.id)"
          title="confirmar recolhimento"
        >
          <i class="fa fa-envelope-open-o"></i>
        </button>
      </td>
      <td *ngSwitchCase="status.RECOLHIDO">
        <button 
          type="submit"
          class="btn btn-primary btn-sm mb-1 ml-1"
          (click)="confirmarLavagem(pedido.id)"
          title="confirmar lavagem"
        >
          <i class="fa fa-bath"></i>
        </button>
      </td>
      <td *ngSwitchCase="status.PAGO">
        <button 
          type="submit"
          class="btn btn-primary btn-sm mb-1 ml-1"
          (click)="finalizarPedido(pedido.id)"
          title="finalizar pedido"
        >
          <i class="fa fa-money"></i>
        </button>
      </td>
      <td *ngSwitchDefault></td>
    </tr>
  </tbody>
</table>
