<div class="container-fluid">
    <div class="d-flex flex-column text-center mb-5 pt-5">
        <h1 class="display-4 m-0">Roupas</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 mb-5">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Prazo</th>
                        <th>Preço (em R$)</th>
                        <th class="text-center">
                            <a [routerLink]="['/roupa/inserir']"
                            href="#" title="Novo" alt="Novo" class="btn btn-primary btn-sm">
                                <i class="fa fa-plus" aria-hidden="true"></i> Novo
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let roupa of roupas">
                        <td>{{roupa.nome}}</td>
                        <td>{{roupa.prazo}}</td>
                        <td>{{roupa.preco}}</td>
                        <td class="text-center" style="width: 300px">
                            <a href="#" title="Editar" alt="Editar" class="btn btn-primary btn-sm mb-1"
                            [routerLink]="['/roupa/editar', roupa.id]">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </a>
                            <a href="#" title="Remover" alt="Remover" class="btn btn-primary btn-sm mb-1 ml-1"
                            (click)="remover($event, roupa)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="roupas.length==0">Nenhuma roupa cadastrada</p>
        </div>
    </div>
</div>